@font-face {
  font-family: "Red Hat Display";
  src: url("../../../../fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../../../../fonts/Red_Hat_Display/RedHatDisplay-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

.container {
  font-family: "Red Hat Display", sans-serif;
}

/* @font-face {
  font-family: "Satoshi";
  src: url("../../../fonts/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

.container {
  font-family: "Satoshi", sans-serif;
} */
.studyWrapper {
  width: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
