.sectionContainer {
  display: flex;
  padding: 139px 187px 200px 187px;
  flex-direction: column;
  align-items: center;
  gap: 75px;
  align-self: stretch;
  background: #fff;
}

.introContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.introTitle {
  align-self: stretch;
  color: var(--Grayscale-inline_default, #222325);
  font-family: "DM Serif Display";
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 55.2px */
  letter-spacing: -1.38px;
}

.introBody {
  width: 1013px;
  color: var(--Grayscale-inline_default, #222325);
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.24px;
}
