.MainHeader {
  width: 100%;
  height: 150px;
  position: sticky;
  top: 0;
  left: 0;
  background: white;
  border-width: 1px;
  border-bottom-style: solid;
  z-index: 2;
  box-sizing: border-box;
  border-color: #e5e2e2;
}

.HeaderRows {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 36px;
}

.TopRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  /* gap: 10%; */
  width: 100%;
}

.LogoBox {
  width: 232px;
  /* width: 15%; */
  height: auto;
}
.Logo {
  /* width: 232px; */
  width: 100%;

  height: auto;
}

.Logo:hover {
  cursor: pointer;
}

.SearchBarBox {
  width: 60%;
}

.SearchBarBox input {
  background-color: #f1efef;
  border-style: none;
  border-radius: 30px;
  padding: 12px 60px;
  color: #9e9595;

  width: 100%;
  height: 60px;
  font-size: 20px;
  background-image: url("./assets/Search.svg");
  background-position: 700px 12px;
  background-repeat: no-repeat;
}

/* .SearchButton {
  position: relative;
  left: -100px;
} */

.AuthComponents {
  width: 15%;
}

.AuthComponents div:hover,
.Authcomponents li:hover {
  cursor: pointer;
}

.BottomRow {
  width: 100%;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
