.Container {
  display: flex;
  flex-direction: row;
}

.SidebarContainer {
  width: 20vw;
  height: 100vh;
  padding-right: 50px;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
}

.SidebarCollapsed {
  width: 10vw;
}

/* .toggleBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #444;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
} */

.WeekViewContainer {
  width: 60vw;
  height: 100vh;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
}

.WeekViewContainerCollapsed {
  width: 70vw;
}
.MonthViewContainer {
  width: 20vw;
  height: 100vh;
  padding-left: 15px;
}
