/* Google Fonts Imports */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satoshi:wght@500&display=swap");

/* Root Variables */
:root {
  /* Colors */
  --color-white: #fff;
  --color-whitesmoke: #f2f2f2;
  --color-gray: #222325;
  --color-tomato: #f95746;
  --color-red: #ff2f00;
  --color-orangered: #ff4d00;
  --color-mistyrose: #ffe9e9;
  --color-test: #370325;
  --color-darkslateblue: #18417e;
  --color-dimgray: #555962;
  --color-darkgray: #9b9b9b;
  --color-aliceblue: #eff6ff;
  --color-lavender: #cbe0ff;
  --color-royalblue: #0068ff;
  --color-dodgerblue: #5097ff;
  --color-gainsboro: #e3e3e7;
  --color-silver: #c9c9cd;
  --color-lightgray: #d1d1d1;
  --color-khaki: #d5ea96;
  --color-limegreen: #5ec432;
  --color-forestgreen: #429d1b;
  --color-lightgoldenrodyellow: #f5ffd8;

  /* Figma Color palette */
  /* Grayscale Colors*/
  --grayscale-background_1: #ffffff;
  --grayscale-foreground_1: #f2f2f2;
  --grayscale-foreground_2_hover: #e3e3e7;
  --grayscale-foreground_3_press: #d1d1d1;
  --grayscale-inline_default: #222325;
  --grayscale-inline_inverse: #ffffff;
  --grayscale-inline_hover: #4c4e52;
  --grayscale-dark_press: #0b0f15;
  --grayscale-dark_placeholder: #b1b4b7;
  --grayscale-placeholder: #9b9b9b;
  --grayscale-disabled: #c9c7c7;
  --grayscale-border_1: #dcdfe3;
  --grayscale-border_2_hover: #c9c9cd;
  --grayscale-border_3_focused: #6e6e76;
  /* Brand Colors */
  --brand-cta: #0068ff;
  --brand-cta_hover: #5097ff;
  --brand-cta_press: #0050c3;
  --brand-cta_light_1: #eff6ff;
  --brand-cta_light_2: #d9e8ff;
  --brand-cta_light_3: #cbe0ff;
  --brand-cta_light_4: #4380ff;

  /* Warning Colors */
  --warning-warning: #ff8c00;
  --warning-warning_hover: #ffb050;
  --warning-warning_press: #e98000;
  --warning-fixed_black: #111213;
  --warning-warning_press: #e27100;
  --warning-warning_light_1: #fff1c1;
  --warning-warning_light_2: #ffdf70;
  --warning-warning-light3: #bca557;
  --warning-warning-light_3: #ffdd66;

  /* Danger Colors */
  --danger-danger: #f95746;
  --danger-danger_hover: #ff8679;
  --danger-danger_press: #d13b2b;
  --danger-danger_light_1: #ffe0d7;
  --danger-danger_light_2: #ffbfac;
  --danger-danger_light_3: #ffd4cf;
  --danger-danger_light_4: #ffe9e9;
  --danger-danger_index: #a3362b;
  --danger-danger_border_1: #ff2f00;
  --danger-danger_border_2: #ff4d00;

  /* Success Colors */
  --success-success: #5ec432;
  --success-success_hover: #7ae54b;
  --success-success_press: #429d1b;
  --success-success_light_1: #f5ffd8;
  --success-success_light_2: #d5ea96;
  --success-success_index: #107e01;
  /* Fonts */
  --font-dm-sans: "DM Sans", sans-serif;
  --font-dm-serif-display: "DM Serif Display", serif;
  --font-satoshi: "Satoshi", sans-serif;
  --font-inherit: inherit;

  /* Font Sizes */
  --font-size-18: 18px;
}

/* Global Styles */
body {
  margin: 0;
  font-family: var(--font-dm-sans);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
  overscroll-behavior: none;
  cursor: default;
}
button {
  font-family: var(--font-dm-sans);
  font-weight: 400;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
