@media (min-width: 992px) {
  .headerContainer {
    width: 100%;
    height: 81px;
    box-sizing: border-box;

    position: fixed;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0px 40px;
    background-color: var(--grayscale-background_1, #ffffff);
    border-bottom: 1px solid var(--grayscale-foreground_1, #f2f2f2);
  }

  .logoAndNavContainer {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }

  .logoContainer {
    max-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    cursor: pointer;
    flex-shrink: 0;
    user-select: none;
  }
  .logoIcon {
    width: 35px;
    height: 28px;
  }

  .navContainer {
    display: flex;
    align-items: center;
    gap: 9px;
    align-self: stretch;
  }

  .navButton {
    display: flex;
    height: 39px;
    padding: 0px 18px;
    justify-content: center;
    align-items: center;
    gap: 10.5px;
    border-radius: 24px;
    cursor: pointer;
    color: var(--Grayscale-inline_default, #222325);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
  }

  .actionsContainer {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 9px;
  }

  .navButton:hover {
    background-color: var(--grayscale-foreground_1);
  }

  .navButton:active {
    background-color: var(--grayscale-foreground_2_hover);
  }

  .tutorButton {
    color: var(--danger-danger);
    text-decoration: none;
  }

  .tutorButton:hover {
    color: var(--danger-danger_press);
    background-color: var(--danger-danger_light_1);
  }

  .tutorButton:active {
    color: var(--danger-danger_press);
    background-color: var(--danger-danger_light_2);
  }

  .startButton {
    display: flex;
    height: 39px;
    padding: 0px 18px;
    justify-content: center;
    align-items: center;
    gap: 10.5px;
    border-radius: 24px;
    border: 1.5px solid var(--Grayscale-inline_default, #222325);
  }
}

@media (min-width: 1300px) {
  .headerContainer {
    padding: 0px 80px;
  }

  .logoAndNavContainer {
    gap: 53px;
  }

  .logoContainerIcon {
    width: 100px;
  }
  .navContainer {
    gap: 12px;
  }
  .navButton {
    height: 52px;
    padding: 0px 24px;
    gap: 14px;
    border-radius: 32px;
  }
  .actionsContainer {
    gap: 12px;
  }
  .startButton {
    height: 52px;
    padding: 0px 24px;
    gap: 14px;
    border-radius: 32px;
    border: 1.5px solid var(--Grayscale-inline_default, #222325);
  }
}
