@media (min-width: 992px) {
  .Container {
    width: 100vw;
    height: 100vh;

    position: absolute;
    z-index: 0;
    flex: 1;

    background-color: #18417e;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Modal {
    width: 463px;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 0px 0px 1px rgba(152, 161, 178, 0.1),
      0px 2px 18px -3px rgba(17, 24, 38, 0.12),
      0px 2px 6px 0px rgba(0, 0, 0, 0.03);
    padding: 32px;
  }

  .UpperTextContainer {
    width: 399px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .HeaderText {
    width: 244px;
    color: var(--grayscale-inline-inverse, #222325);
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
  }

  .BodyText {
    align-self: stretch;
    color: var(--grayscale-dark-hover, #555962);
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.216px;
  }

  .LowerUserInteractionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .EmailContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 24px;
  }
  .SaveButton {
    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    align-self: stretch;

    border-radius: 32px;
    border-width: 0;
    background: var(--brand-cta, #0068ff);
    padding: 0px 24px;
    color: var(--grayscale-inline-inverse, #fff);
  }

  .SaveButton:hover {
    background-color: var(--brand-cta_hover);
  }
  .SaveButton:active {
    background-color: var(--brand-cta_press);
  }
  .SaveButton:disabled {
    background-color: var(--color-whitesmoke);
    color: var(--color-silver);
  }

  .ButtonText {
    font-size: 18px;
    font-weight: 500;
    line-height: 160%; /* 28.8px */
    letter-spacing: -0.234px;
  }
}
